html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.moves,
.timer-display,
.modal-body {
    font-size: 20px;
}

body {
    background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: comic sans ms;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 580px;
    min-height: 570px;
    background: linear-gradient(160deg, #eea849 0%, #f46b45 100%);
    padding: 22px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    overflow: hidden;
}

.deck .card {
    height: 120px;
    width: 120px;
    margin: 5px;
    background: #2e3d49;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.4);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation-name: matched;
    animation-duration: 0.6s;
}

.wrong-guess {
    animation-name: noMatch;
    animation-duration: 0.6s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 500px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timer-display {
    margin: 0;
    padding: 0;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 0px 0 0;
}

.fa-star {
    color: #ffd700;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

#restart-btn {
    cursor: pointer;
    font-size: 20px;
    background: #0af;
    outline: none;
    border: none;
    box-shadow: 5px 8px 8px -5px rgba(0, 0, 0, 0.7);
    border-radius: 30%;
    padding: 5px;
    width: 30px;

}
/*
.score-panel*/

.game-cmpltd_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.modal-header {
    width: 100%;
    background: #eea849;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100;
    background: #eea849;
}

.modal-title {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.retry {
    cursor: pointer;
    font-size: 20px;
    background: #0af;
    outline: none;
    border: none;
    box-shadow: 5px 8px 8px -5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 5px;
}

.content-wrapper {
    margin: 30% auto;
    width: 55%;
    background: #fff;
    box-shadow: 8px 8px 8px -5px rgba(0, 0, 0, 0.9);
    border-radius: 3px;
}

.close-btn {
    font-size: 1.5em;
    cursor: pointer;
}

/*adapted from w3schools how to shake an image https://www.w3schools.com/howto/howto_css_shake_image.asp*/
@keyframes noMatch {
    0% { transform: translate(1px, 1px) rotate(0deg); background: red;}
    10% { transform: translate(-1px, -2px) rotate(-1deg); background: red;}
    20% { transform: translate(-3px, 0px) rotate(1deg); background: red;}
    30% { transform: translate(3px, 2px) rotate(0deg); background: red;}
    40% { transform: translate(1px, -1px) rotate(1deg); background: red;}
    50% { transform: translate(-1px, 2px) rotate(-1deg); background: red;}
    60% { transform: translate(-3px, 1px) rotate(0deg); background: red;}
    70% { transform: translate(3px, 1px) rotate(-1deg); background: red;}
    80% { transform: translate(-1px, -1px) rotate(1deg); background: red;}
    90% { transform: translate(1px, 2px) rotate(0deg); background: red;}
    100% { transform: translate(1px, -2px) rotate(-1deg); background: #2e3d49;}
}

@keyframes matched {
    0% { transform: translate(1px, 1px) rotate(0deg); background: #02ccba;}
    10% { transform: translate(-3px, -2px) rotate(-1deg); background: #02ccba;}
    20% { transform: translate(-9px, 0px) rotate(1deg); background: #02ccba;}
    30% { transform: translate(7px, 3px) rotate(0deg); background: #02ccba;}
    40% { transform: scale3d(1, 1, 1); background: #02ccba;}
    50% { transform: scale3d(0.6, 0.5, 0.4);  background: #02ccba;}
    60% { transform: scale3d(0.8, 0.9, 0.7);  background: #02ccba;}
    70% { transform: scale3d(1, 1, 1); background: #02ccba;}
    80% { transform: translate(-1px, -1px) rotate(1deg); background: #02ccba;}
    90% { transform: translate(1px, 2px) rotate(0deg); background: #02ccba;}
    100% { transform: translate(1px, -2px) rotate(-1deg); background: ##02ccba;}
}
